* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  background-color: #3e5966 !important;
  color: #fff !important;
  margin: 10px 0 30px 0;
}
/*----- Navigation ------ */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ff6f00 !important;
  margin-left: 25px;
}
.navbar-brand img {
  pointer-events: none;
  height: 42px;
  padding: 0;
  margin: 15px 0 0 15px;
}
.navbar-nav li {
  padding: 20px 10px;
}
.navbar-nav li a {
  text-transform: uppercase;
  float: right;
  text-align: left;
}
.nav-link {
  font-weight: 700;
  color: #2f2f2f;
  font-size: 16px;
}
#nav-bar ul li a:hover {
  color: #ff6f00;
  transition: 0.5s ease-in;
  border-bottom: 3px #ff6f00 solid;
}
.navbar {
  background-color: #fff;
}
.navbar-toggler {
  border: none !important;
}
/* ShowCase */
.showcase {
  margin-top: 50px;
  position: relative;
}
.showcase-content {
  width: 40%;
  text-align: justify;
  position: absolute;
  left: 50px;
  top: 90px;
}
.showcase-content h4 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #3e5966;
}
.showcase-content h4 span {
  text-transform: uppercase;
  color: #f7973f;
}
.showcase-content p {
  font-size: 1.1em;
}
.svg {
  enable-background: new 0 139.2 595.3 441.2;
}
.st0 {
  fill: #d2f4fc;
}
.st1 {
  fill: #c4e8f7;
}
.st2 {
  fill: #a9d9ed;
}
.st3 {
  fill: #629db2;
}
.st4 {
  fill: #425e6b;
}
.st5 {
  fill: #f7973f;
}
.st6 {
  fill: #7ba5ba;
}
.st7 {
  fill: #ffffff;
}
.st8 {
  fill: #b8d1de;
}
.st9 {
  fill: #d9f0fc;
}
.st10 {
  fill: #b8dff2;
}
.st11 {
  fill: #3e5966;
}
.st12 {
  fill: #c7e2ef;
}
.st13 {
  fill: #c86331;
}

#about {
  margin: 50px 0;
  color: #2f2f2f;
}
#about h2 {
  margin-top: 70px;
}
#about p {
  margin-top: 10px;
}
.about-content {
  margin-top: 20px 0;
}

.skill-bar {
  font-weight: 600;
}
.skill-bar .progress-bar {
  background-color: #3e5966;
  border-radius: 20px;
}
.ser0 {
  fill: #f5f5f5;
}
.svg-services {
  enable-background: new -47 170.9 500 500;
  width: 90%;
  margin-top: 60px;
}
.ser1 {
  fill: #e0e0e0;
}
.ser2 {
  opacity: 0.3;
  enable-background: new;
}
.ser3 {
  fill: #ba68c8;
}
.ser4 {
  opacity: 0.4;
  fill: #ffffff;
  enable-background: new;
}
.ser5 {
  opacity: 0.4;
  enable-background: new;
}
.ser6 {
  fill: none;
}
.ser7 {
  opacity: 0.2;
  enable-background: new;
}
.ser8 {
  opacity: 0.1;
  enable-background: new;
}
.ser9 {
  opacity: 0.5;
  fill: #ffffff;
  enable-background: new;
}
.ser10 {
  fill: #37474f;
}
.ser11 {
  fill: #455a64;
}
.ser12 {
  fill: #263238;
}
.ser13 {
  fill: #e6e6e6;
}
.ser14 {
  fill: #ebebeb;
}
.ser15 {
  fill: #fafafa;
}
.ser16 {
  fill: #ffffff;
}
.ser17 {
  opacity: 0.2;
  fill: #ba68c8;
  enable-background: new;
}
.ser18 {
  fill: #ffa8a7;
}
.ser19 {
  fill: #f28f8f;
}
.ser20 {
  opacity: 0.5;
  enable-background: new;
}
.ser21 {
  opacity: 0.7;
  enable-background: new;
}
.ser22 {
  opacity: 0.7;
  fill: #ffffff;
  enable-background: new;
}
